#container{
	background-color:rgb(248,248,248); 
	width:800px; 
	height:600px;
	margin:auto;
	margin-top:4%;
	display: block;
	position:relative;
}

#hangman{
	margin-left:-10px;
	margin-top: 40px;
}

#word{
	width:420px; 
	float: right;
	margin-top:70px;
	margin-right:80px;
	padding:2px;
}

#missed{
	width:420px; 
	padding:2px;
	
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.letter_c{
	background-color: rgb(210,210,210);
	width:52px; 
	height:52px;
	border-bottom: 2px solid black;
	margin:2px;
	float: left;
	font-size: 36px;
	text-align: center;
}

.m_letter_c{
	background-color: rgb(210,210,210);
	width:52px; 
	height:52px;
	border-bottom: 2px solid black;
	margin:2px;
	float: right;
	font-size: 36px;
	text-align: center;
}

#reset
{
	background-color: rgb(210,210,210);
	border: none;
	border-radius: 	0;
	font-size: 	24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 14px;
}

/* .row{
	display: block;

}
.button{
	border: 1px solid black;
	display: block;
	height: 90px;
	background-color: rgb(245,245,245);
	line-height: 90px;
	text-align: center;
	font-size: 32px;
	font-family: Helvetica, sans-serif;
	border: 1px solid  rgb(220,220,220);
	border-radius: 2px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 11px;
	color: #444444;
}

#beq{
	background-color: rgb(87,151,242);
	color: white;
	font-size: 48px;
}

#display{
	margin-top:5%;
	margin-left: -2px;
	margin-right: -5px;
	height: 96px; 
	line-height: 96px; 
	font-size: 48px; 
	text-align: right;
	border: 1px solid rgb(170,170,170);
	border-radius: 2px;
	padding-right:30px;
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.05);
}

#bmult,#bdiv,#bsub,#badd,#bCE{
	background-color: rgb(217,217,217);
	font-size: 48px;
}
#bCE{
	font-size: 28px;
	} */
/* .cell{
	background-color: orange;

    margin: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
} */