.banner{
	background: url(../img/banner.jpg) no-repeat;
	width: 695px;
	height: 231px;
}
header h1{
	background: url(../img/black+white.png)no-repeat;
	text-indent: -9000px;
	width: 175px;
	height:25px;

}